body {
	font-family: Arial, Arial, Helvetica, sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.landing-page-link {
	text-decoration: none;
}

#wsdotLogo {
	vertical-align: central;
	padding-right: 0.5em;
}

#borderContainer, #outerBorderContainer {
	width: 100%;
	height: 100%;
}

#outerContentPane, #sidebarPane {
	margin: 0;
	padding: 0;
}

#headerPane {
	text-align: left;
	font-family: Impact,  Haettenschweiler,  'Arial Narrow Bold',  sans-serif;
	font-size: 1.5em;
	color: #017359;
	margin: 0;
}

#headerPane h1 {
	display: inline;
	cursor: default;
}

#mapPane {
	margin: 0;
	padding: 0;
}

#sidebarPane {
	width: 400px;
}

#layersPane {
	height: 200px;
}

#legendPane {
	height: 200px;
}

#map, .map.container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map progress {
	position: absolute;
	bottom: 3px;
	right: 25%;
	width: 50%;
	z-index: 1;
}

.toolbar {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30;
}

.esriBasemapGalleryLabelContainer {
	font-size: 0.7em;
}

.esriAttribution {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0.5em;
	border-radius: 5px; 
}

#userAddedDataSection h1 {
	font-size: 1em;
}

.layer-chooser-layer-error {
	text-decoration:line-through;
	color: red;
}

.layer-list {
	padding-left: 0;
	margin: 0;
}

.layer-list ul {
	padding-left: 2em;
}

.layer-list li {
	list-style-type: none;
}

.layer-list label {
	display: inline;
}

/* hide all sublayer lists and legends */
.layer-list input:not(:checked) + label + .layer-chooser-layer-controls,
/* Hide unnecessary parts of legends.*/
.esriLegendService > table:first-child,
.esriLegendLayerLabel
{
	display: none;
}

.esriLegendService {
	padding-bottom: 1em;
	margin-left: 1em;
}

#userAddedDataSection span.dijitButton {
	float: right;
}

ul.data-layer-list {
	padding: 0;
	padding-left: 0.4em;
}

.data-layer-list {
	display: table;
}

.data-layer-list > li {
	display: table-row;
}

.data-layer-list > li > input, .data-layer-list > li > label {
	display: table-cell;
}

/* Chart legends*/

table.chart-legend td:first-child {
	width: 2em;
	border: 0.1em solid black;
}

table.language-chart-legend tr:first-child > td:first-child {
	background-color: #ffbebe;
}

table.language-chart-legend tr:last-child > td:first-child {
	background-color: #ff0000;
}

.ptba path {
	stroke: #a5a505;
	stroke-width: 1pt;
	stroke-opacity: 1;
	fill: yellow;
	fill-opacity: 0.5;
}

.rta path {
	stroke: #791919;
	stroke-width: 1pt;
	stroke-opacity: 1;
	fill: red;
	fill-opacity: 0.5;
}

.gtfs-shapes path {
	stroke: blue;
	stroke-width: 3pt;
	stroke-opacity: 0.9;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.gtfs-stops path {
	stroke: red;
	stroke-width: 0.3pt;
	fill: yellow;
	fill-opacity: 0.8;
}

.layer-select {
	display: block;
}