body {
	font-family: Futura, "Gill Sans", "Century Gothic", "Dejavu Sans", "Trebuchet MS", sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#borderContainer {
	width: 100%;
	height: 100%;
}

#mapPane {
	margin: 0;
	padding: 0;
}

#sidebarPane {
	width: 400px;
}

#layersPane {
	height: 200px;
}

#legendPane {
	height: 200px;
}

#map, .map.container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map progress {
	position: absolute;
	bottom: 3px;
	right: 25%;
	width: 50%;
	z-index: 1;
}

.toolbar {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30;
}

.esriBasemapGalleryLabelContainer {
	font-size: 0.7em;
}

.esriAttribution {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0.5em;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}

#userAddedDataSection h1 {
	font-size: 1em;
}

.layer-chooser-layer-error {
	text-decoration:line-through;
	color: red;
}

.layer-list {
	padding-left: 0;
	margin: 0;
}

.layer-list ul {
	padding-left: 2em;
}

.layer-list li {
	list-style-type: none;
}

.layer-list label {
	display: inline;
}

/* hide all sublayer lists and legends */
.layer-list input:not(:checked) + label + .layer-chooser-layer-controls,
/* Hide unnecessary parts of legends.*/
.esriLegendService > table:first-child,
.esriLegendLayerLabel
{
	display: none;
}

/* show the layer lists of checked layers */
/*
.layer-list input:checked + * + * + ul, 
.layer-list input:checked + * + .dijitSlider, 
.layer-list input:checked + * + * + .layer-chooser-legend,
.layer-list input:checked + * + * + * + .layer-chooser-legend
{
	visibility: visible;
}
	*/

.esriLegendService {
	padding-bottom: 1em;
	margin-left: 1em;
}

