html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    height: 60%;
    width: 100%;
}

#data {
    height: 40%;
    width: 100%;
}

table {
    float: left;
    margin-left: 3em;
    margin-right: 3em;
}

.threshold-met {
    font-style: italic;
}

td:first-child + td, td:first-child + td + td {
    text-align: right;
}
