body {
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Dejavu Sans", Verdana, sans-serif;
}
html, body, #mapDiv {
	padding: 0;
	margin: 0;
	height: 100%;
}
#tools {
	position: absolute;
	top: 0;
	right: 0;

}
path {
	stroke: blue;
	stroke-width: 3pt;
	stroke-opacity: 0.9;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.gtfs-stops path {
	stroke: red;
	stroke-width: 0.3pt;
	fill: yellow;
	fill-opacity: 0.8;
}